@import url("https://fonts.googleapis.com/css2?family=Satisfy&family=Syne&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Syne, sans-serif;
}
a {
  color: black;
}
#hr {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 3px;
  gap: 0.5em;
}
#hr div:nth-child(1),
#hr div:nth-child(3) {
  width: 4%;
  border-top: 2px solid #f57c00;
}
#hr div:nth-child(2) {
  border-top: 2px solid rgba(18, 24, 32, 0.1);
  width: 88%;
}

.fa-circle {
  color: #f57c00;
}

span {
  color: #f57c00;
}

/*
====================================
    CTAS
 ====================================  
*/

.ctas {
  background-color: rgba(255, 255, 255, 0.8);
  color: white;
  z-index: 2;
  width: 50px;
  height: 160px;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0.2em;
  top: 50vh;
  border-top: 1px solid #232323;
  border-left: 1px solid #232323;
}
.ctas > div {
  position: relative;

  background-color: transparent;
  border-bottom: 1px solid #232323;
  width: 100%;
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.ecta {
  display: none;
  padding: 0.5em;
  padding-top: 0.8em;
  font-size: 0.8em;
  text-align: center;
  position: absolute;
  background-color: rgba(18, 24, 32, 0.8);
  height: 100%;
  width: 250%;
  left: -10em;
  color: white;
}

.cta:hover .ecta {
  display: block;
}

/*
====================================
    navbar
 ====================================  
*/
.navbar {
  z-index: 2;
  position: sticky;
  width: 100%;
  height: 15vh;
  top: 0%;
  background-color: white;
  color: black;
  justify-content: space-around;
  align-items: center;
}

.extra {
  display: none;
}

.nleft {
  height: 2em;
  width: 15%;
  background-image: url("https://bslthemes.com/html/itsulu/img/logo/logo-dark.png");
  background-size: contain;
  background-repeat: no-repeat;
}
a {
  text-decoration: none;
}

.ncenter > .ul {
  position: relative;
  top: 0.7em;
  display: flex;
  justify-content: center;
  gap: 1.4em;
}
.ncenter > .ul p {
  position: relative;
  cursor: pointer;
}
.fa-circle-dot {
  position: absolute;
  top: 0%;
  right: -14%;
  color: #f57c00 !important
  ;
}

#nenterprise,
#nservices,
#nsolutions,
#nothers {
  position: relative;
}

.nextra {
  width: 14em;
  background-color: white;
  color: black;
  position: absolute;
  padding: 1em, 2em;
  padding-top: 1.5em;
  border-radius: 1em;
  left: -100%;
  display: none;
}
#nenterprise:hover .nextra,
#nservices:hover .nextra,
#nsolutions:hover .nextra,
#nothers:hover .nextra {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  animation: shon 2s ease forwards;
}

@keyframes shon {
  0% {
    opacity: 0;
    transform: translateY(+3em);
  }

  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}

.nextra > p {
  width: 60%;
  line-height: 1em;
  color: black;
  cursor: pointer;
}
.nextra > p:hover {
  color: #f57c00;
}
/*
====================================
    intro
 ====================================  
*/

#intro {
  position: relative;
  height: 500px;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#intro > .overlay {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://bslthemes.com/html/itsulu/img/deco/map.png");
  background-size: cover;
  opacity: 0.5;
}
.ileft {
  z-index: 1;
  padding: 1em;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.iright {
  z-index: 1;
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
====================================
    git
 ====================================  
*/

#git {
  position: relative;
  padding: 1em;
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#git .patch {
  z-index: -1;
  position: absolute;
  bottom: 0%;
  left: 47%;
  transform: rotate(180deg);
}
#git p {
  width: 50%;
  font-weight: bolder;
}
#git button {
  margin-left: 10em;
  width: 20%;
  border: 1px solid #f57c00;
  background-color: transparent;
  padding: 1em 2em;
  border-radius: 2em;
}
#git button:hover {
  border: 2px solid #f57c00;
}

#git .fa-solid {
  padding: 1.5em 1em;
  border-radius: 50%;
  background-color: lightgrey;
  color: white;
  margin: 0.5em;
}

/*
====================================
    services
 ====================================  
*/

#services {
  width: 100%;
  height: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  line-height: 1em;
}

#services .row1 {
  width: 100%;
  height: 25%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1em;
}
#services .row1 h4 {
  font-size: 2em;
  width: 80%;
}
#services .row1 p {
  font-size: 1em;
  width: 40%;
}

#services .row2 {
  width: 100%;
  height: 60%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#services .row3 {
  width: 100%;
  height: 15%;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

#services .row3 button {
  width: 20%;
  border: 1px solid #f57c00;
  background-color: transparent;
  padding: 1em 2em;
  border-radius: 2em;
}

#services .row3 button:hover {
  border: 2px solid #f57c00;
}

.scard {
  padding: 0.5em;
  width: 32%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.scard p:nth-child(1) {
  font-size: 2em;
  background-color: lightgray;
  padding: 0.8em 0.7em;
  border-radius: 50%;
}
#services .row3 .fa-solid {
  color: white;
  padding: 0.6em;
  border-radius: 50%;
  background-color: #f57c00;
  transition: all 1s ease;
}
#services .row3 p {
  cursor: pointer;
}
#services .row3 p:hover .fa-solid {
  transform: translateX(3em);
}

/*
====================================
    sm
 ====================================  
*/

#sm {
  width: 100%;
  height: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sm .row1 {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
}
#sm .row2 {
  width: 100%;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
}

.smcard {
  padding: 1em;
  border: 1px solid gray;
  border-radius: 1em;
  height: 90%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  gap: 1em;
}
.smcard:hover {
  border: 2px solid #f57c00;
}
.smcard > p:nth-child(3) .fa-solid {
  color: white;
  padding: 0.6em;
  border-radius: 50%;
  background-color: #f57c00;
  transition: all 1s ease;
}
.smcard > p:nth-child(3):hover .fa-solid {
  transform: translateX(3em);
}

/*
====================================
    sponsers
 ====================================  
*/

.sponsers {
  width: 100%;
  height: 62.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sponsers > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 54%;
  width: 100%;
  padding: 1em;
  /* border: 1px solid red; */
  gap: 0.5em;
}
.partners > div {
  filter: grayscale(100%);
  cursor: pointer;
}

.partners > div:nth-child(1) {
  /* border: 1px solid red; */
  width: 15%;
  height: 25%;
  /* border: 1px solid red; */
  background-image: url("https://bslthemes.com/html/itsulu/img/partners/1.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.partners > div:nth-child(2) {
  width: 15%;
  height: 25%;
  /* border: 1px solid red; */
  background-image: url("https://bslthemes.com/html/itsulu/img/partners/2.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.partners > div:nth-child(3) {
  width: 15%;
  height: 25%;
  /* border: 1px solid red; */
  background-image: url("https://bslthemes.com/html/itsulu/img/partners/3.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.partners > div:nth-child(4) {
  width: 15%;
  height: 25%;
  /* border: 1px solid red; */
  background-image: url("https://bslthemes.com/html/itsulu/img/partners/4.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.partners > div:nth-child(5) {
  width: 15%;
  height: 25%;
  /* border: 1px solid red; */
  background-image: url("https://bslthemes.com/html/itsulu/img/partners/5.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.partners > div:nth-child(6) {
  width: 15%;
  height: 25%;
  /* border: 1px solid red; */
  background-image: url("https://bslthemes.com/html/itsulu/img/partners/6.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.sponsers > div:nth-child(2) {
  height: 45%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid blue; */
  justify-content: end;
  align-items: center;
}
.patch {
  position: relative;
  left: 20em;
}
.partners > div:hover {
  filter: grayscale(0%);
}

/*
====================================
    performance
 ====================================  
*/
#performance {
  height: 130vh;
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  padding: 0 2em;
}

#performance > div {
  /* border: 1px solid green; */
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 90%;
}

#performance > div > div {
  padding: 1em;
  /* border: 1px solid blue; */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
  gap: 1em;
}

.pcard {
  width: 100%;
  height: 25%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
}

.pcard-left {
  padding: 1em;
  width: 30%;
  /* border: 1px solid red; */
}
.pcard-left img {
  position: relative;
  top: 1em;
}
.pcard-right {
  padding: 1em;
  width: 68%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5em;
}

#performance .row3 {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#performance .row3 button {
  width: 20%;
  border: 1px solid #f57c00;
  background-color: transparent;
  padding: 1em 2em;
  border-radius: 2em;
}

#performance .row3 button:hover {
  border: 2px solid #f57c00;
}
#performance .row3 .fa-solid {
  color: white;
  padding: 0.6em;
  border-radius: 50%;
  background-color: #f57c00;
  transition: all 1s ease;
}
#performance .row3 p {
  cursor: pointer;
}
#performance .row3 p:hover .fa-solid {
  transform: translateX(3em);
}
/*
====================================
    types
 ====================================  
*/

#types {
  position: relative;
  width: 100%;
  height: 720px;
  background: linear-gradient(180deg, #181e26 0, #121820 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#types img {
  z-index: 0;
  top: 0%;
  left: 10%;
  position: absolute;
}
.t1 {
  color: white;
  width: 100%;
  height: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.t1 p:nth-child(3) {
  width: 50%;
  text-align: center;
  color: gray;
}
.t2 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.t2 p {
  color: white;
  width: 21%;
  height: 10%;
  align-items: center;
}
.t3 {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.t3 button {
  color: white;
  width: 40%;
  border: 1px solid #f57c00;
  background-color: transparent;
  padding: 1em 2em;
  border-radius: 2em;
}

.t3 button:hover {
  border: 2px solid #f57c00;
}

/*
====================================
    footer
 ====================================  
*/
#footer {
  position: relative;
  width: 100%;
  height: 900px;
  background: linear-gradient(180deg, #181e26 0, #121820 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer .overlay {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("https://bslthemes.com/html/itsulu/img/deco/map.png");
  background-size: cover;
  opacity: 0.05;
}

#footer .upper {
  height: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#footer .ul {
  z-index: 1;
  color: white;
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
#footer .ur {
  z-index: 1;
  color: white;
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6em;
}
#footer .ur input {
  height: 30%;
  width: 45%;
  border-radius: 3em;
  border: none;
}
#footer .ur input::placeholder {
  text-align: center;
}
#footer .ur button {
  color: black;
  width: 40%;
  border: 1px solid #f57c00;
  background-color: #f57c00;
  padding: 1em 2em;
  border-radius: 2em;
  cursor: pointer;
}

#footer .lower {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
#footer .lower > div {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1em;
  color: white;
}
.l1 {
  gap: 2em;
}

#end {
  bottom: 0%;
  width: 100%;
  height: 18vh;

  background-color: #121820;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
====================================
    media query
 ====================================  
*/

@media (max-width: 1191px) {
  .navbar {
    background-color: white;
    justify-content: space-between;
  }

  .nleft {
    margin-left: 2em;
    width: 10em;
    background-image: url("	https://bslthemes.com/html/itsulu/img/logo/logo-dark.png");
  }
  .ncenter,
  .nright {
    display: none;
  }
  .extra {
    display: block;
    margin-right: 2em;
  }
}
@media (max-width: 1026px) {
  #git > i {
    display: none;
  }
  #git p {
    width: 80%;
    text-align: center;
  }
  #git button {
    width: 80%;
    margin: 0;
  }
}

@media (max-width: 926px) {
  .patch {
    display: none;
  }
  #performance {
    height: 250vh;
    /* border: 1px solid blue; */
    gap: 1em;
  }
  #performance > div {
    width: 100%;
    height: 99%;
  }

  #performance > div > div {
    /* border: 1px solid blue; */
    width: 95%;
    height: 50%;
  }
  .pcard {
    width: 100%;
    height: 20%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
  }
}
@media (max-width: 858px) {
  #services {
    height: 1200px;
  }
  #services .scard {
    width: 40%;
    height: 20%;
  }
}

@media (max-width: 845px) {
  .partners > div {
    width: 40% !important;
  }
  #services .row3 button,
  #performance .row3 button {
    width: 40%;
    font-size: 0.8em;
  }
}
@media (max-width: 725px) {
  #footer {
    height: 1200px;
  }
  #footer .ul {
    width: 80%;
    height: 20%;
  }
  #footer .ur {
    width: 80%;
    height: 30%;
  }
}
@media (max-width: 698px) {
  #services {
    height: 1800px;
  }
  #services .scard {
    width: 60%;
    height: 15%;
  }
  #services .scard p:nth-child(1) {
    font-size: 1em;
    background-color: lightgray;
    padding: 0.8em 0.7em;
    border-radius: 50%;
  }
}
@media (max-width: 616px) {
  #sm {
    height: 1000px;
  }
  #sm .row2 {
    height: 80%;
  }
  .smcard {
    width: 60%;
    height: 40%;
  }
  #footer {
    height: 1800px;
  }
  #footer .upper {
    height: 30%;
    justify-content: center;
  }
  #footer .upper p {
    font-size: 0.5em;
  }
  #footer button {
    font-size: 0.8em;
    padding: 0.5em;
  }
  #footer .upper h1 {
    font-size: 1em;
  }
  #footer .lower > div {
    width: 60%;
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.1em;
    color: white;
    line-height: 0.7em;
    font-size: 0.8em;
  }
}
@media (max-width: 605px) {
  .t2 p {
    width: 48%;
    text-align: center;
  }
}
@media (max-width: 562px) {
  #end {
    font-size: 0.8em;
  }
}

@media (max-width: 585px) {
  #services {
    height: 1800px;
  }
  #services .scard {
    width: 60%;
    height: 15%;
  }
  #services .scard p {
    font-size: 0.7em;
  }
  #services .scard p:nth-child(1) {
    font-size: 0.8em;
  }

  #services .scard h3 {
    font-size: 1em;
  }
}
@media (max-width: 553px) {
  .pcard h5 {
    font-size: 1em;
  }
  .pcard p {
    font-size: 0.5em;
  }
}

@media (max-width: 506px) {
  .smcard p {
    font-size: 0.8em;
  }
  .smcard h2 {
    font-size: 1em;
  }
  #types {
    height: 1000px;
  }
  .t1 h1 {
    font-size: 1.2em;
  }

  .t2 p {
    width: 80%;
  }
}
@media (max-width: 418px) {
  #sm .row1 h1 {
    font-size: 1.2em;
  }
  .smcard {
    gap: 0.1em;
  }
  .smcard p {
    font-size: 0.5em;
  }
  .smcard h2 {
    font-size: 0.8em;
  }
}
@media (max-width: 412px) {
  #end {
    font-size: 0.5em;
  }
}
@media (max-width: 358px) {
  .pcard h5 {
    font-size: 0.8em;
  }
  .pcard p {
    font-size: 0.3em;
  }
}

@media (max-width: 339px) {
  .iright {
    display: none;
  }
  .ileft {
    width: 100%;
  }
}
